@font-face {
  font-family: "lobsterregular";
  src: url("/fonts/lobster-regular-webfont.woff2") format("woff2"),
    url("/fonts/lobster-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  background-image: url(/images/wallpaperflare.com_wallpaper\(1\).jpg);
  background-size: cover;
  height: 100vh;
}

.logo img {
  display: grid;
  height: 80px;
  z-index: -9999;
}
.logo {
  padding-top: 10px;
  width: 0;
  height: 100px;
}
.links {
  font-family: "Courier New", Courier, monospace;
  float: right;
}
.links ul {
  font-size: 20px;
  margin-top: -80px;
  float: right;
  list-style-type: none;
  padding-right: 100px;
}
.links ul li {
  display: inline-block;
  padding-left: 50px;
  padding-top: 10px;
}
#current {
  text-decoration: underline;
}
.links ul li a:link,
.links ul li a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  transition: ease 0.5s color;
}
.links ul li a:hover {
  color: rgb(218, 218, 255);
}
.header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mainHeader {
  color: white;
  font-size: 2.5rem;
  padding-left: 50px;
  padding-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.mainContents {
  color: black;
  font-size: 25px;
  word-wrap: normal;
  padding-right: 60vw;
  padding-left: 3vw;
  margin-top: -50px;
}

.mainReadMore {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  margin-top: 20px;
}
.mainReadMore a {
  margin-left: 3vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: 2px solid rgb(80, 80, 80);
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 50%,
      rgb(160, 160, 160) 50%
    )
    right;
  background-size: 200%;
  transition: 0.34s ease-in;
}

/* text shadowing for header */

.mainReadMore a:hover {
  background-position: left;
}
.mainHeader {
  text-shadow: 9px 3px 4px rgba(0, 0, 0, 0.23);
}
.first {
  text-shadow: -9px 7px 4px rgba(0, 0, 0, 0.23);
}
.I1 {
  text-shadow: -4px 7px 4px rgba(0, 0, 0, 0.23);
}
.N {
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.23);
}
.A {
  text-shadow: 4px 7px 4px rgba(0, 0, 0, 0.23);
}
.T {
  text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.23);
}
.I2 {
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.23);
}

.topContainer {
  background-color: #171717;
  height: 100px;
}
